<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - MedicalManagementSystem</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link href="~/css/signin.css" rel="stylesheet" />*@
    <title>@ViewBag.Title</title>
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MedicalManagementSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link">Home </a>
                </li>
                <li class="nav-item">
                    <a asp-action="index" asp-controller="home" class="nav-link">List </a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="userregistration" asp-controller="userregistration" class="nav-link">Register</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="hospitalregistration" asp-controller="hospitalregistration" class="nav-link">Register Hospital</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="doctorregistration" asp-controller="doctorregistration" class="nav-link">Register Doctor</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="hospitaladminregistration" asp-controller="hospitalregistration" class="nav-link">Register HospitalAdmin</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="pharmacyregistration" asp-controller="pharmacyregistration" class="nav-link">Register Pharmacy</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="pharmacyownerregistration" asp-controller="pharmacyregistration" class="nav-link">Register PharmacyOwner</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="testsregistration" asp-controller="testsregistration" class="nav-link">Register Test</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="testsownerregistration" asp-controller="testsregistration" class="nav-link">Register TestOwner</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="receptionistregistration" asp-controller="hospitalregistration" class="nav-link">Register Receptionist</a>
                </li>
            </ul>


            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a asp-action="signin" asp-controller="signin" class="nav-link">SignIn</a>
                </li>
            </ul>
        </nav>
        <div >
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div class="container">

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2021 - MedicalManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
